@mixin noselect() {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin nopointer() {
  pointer-events: none;
}

body {
  color: blue;
  margin: 0;
}

h1 { // Main title
  z-index: 1;
  font-size: 3rem;
  color:#A44647;
  font-weight: 600;
}

h2 { // Subtitle 
  z-index: 1;
  font-size: 2.5rem;
  color:#A44647;
  text-transform: uppercase; 
  font-weight: 600;
}

h3 { // Graph title
  z-index: 1;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  font-weight: 400;
}

h4 { // Graph title
  z-index: 1;
  font-size: 1.5rem;
  color: white;
  text-align: left;
  font-weight: 500;
}
h5 { // Sources
  z-index: 1;
  font-size: 1rem;
  color: grey;
  text-align: left;
  font-weight: 500;
}

p {
  font-size: 1.5rem;
  color: white;
}

@import "./fonts.css";

@import './tooltip.scss';
@import './intro.scss';
@import './title.scss';
@import './radar.scss';
@import './page.scss';