// Styles to layout main page
.Graph {
  position: absolute;
  transition: opacity 500ms ease-in-out;

  &__Hidden {
    opacity: 0;
  }
}

.Section {
  transform: translate3d(0, 0, 0);
  width: 100vw;
  height: 100vh;

  &--sticky {
    position: absolute;
  }

  &--stuck {
    position: fixed;
    left: 0;
    top: 0;
  }

  &_Track {
    position: relative;
    overflow: hidden;
  }
}
