// Styles to layout main page

#seg1 {
  height: 2000px;
  width: 100%;
  background: lightgrey;
}

.Graph {
  position: absolute;
}

.Section {
  transform: translate3d(0, 0, 0);
  width: 100vw;
  height: 100vh;

  &--sticky {
    position: absolute;
  }

  &--stuck {
    position: fixed;
    left: 0;
    top: 0;
  }

  &_Track {
    position: relative;
    overflow: hidden;
  }
}
