// Styles for RadarChart

.Graph_Radial {
  @include noselect();
  @include nopointer();
}

.yAxis {
  &_Marks {
    @include noselect();
  }
}

.RadarElement {
  fill: none;

  &_Stroke {
    stroke-width: 2px;
      .active & {
        stroke-width: 5px;
      }
  }
}