body {
  font-family: "Avenir";
  color: black;
  font-weight: 400;
}
.Intro {
  padding: 50px;
  .Intro_heading {
  }
}
.bar_graph {
  h3 {
    margin-left: 200px;
  }
}
.context_part1 {
  padding: 50px;
  width: 500px;
}

.interaction {
  background: black;
  color: white;
  padding: 50px;

  .InteractiveMap_title {
    padding: 10px;
    margin-left: 20px;
  }
  .interaction_howto {
    margin-left: 30px;
  }

  .context_part2 {
    width: 500px;
  }
}

#Section_HeightMap {
    h1 { // Main title
        font-size: 50px;
        color:#A44647;
        font-weight: 600;
    }

    h2 { // Subtitle 
        color: white;
        text-transform: uppercase; 
        font-weight: 400;
    }

    h3 { // Graph title
        color: white;
        text-align: center;
        font-weight: 500;
    }

    h4 { // Graph title
      font-size: 24px;
      color: white;
      text-align: left;
      font-weight: 500;
  }
    h5 { // Sources
    font-size: 14px;
    color: grey;
    text-align: left;
    font-weight: 500;
}
  

    .Graph_HeightmapSection_TitleBlock {
        margin-left: 20px;
        margin-top: 30px;
        h1 {
            margin-bottom: 0;
        }
        h2 {
            margin-top: 0;
        }
    }
}