body {
  font-family: "Avenir";
  color: black;
  font-weight: 400;
}
.Intro {
  padding: 50px;
  .Intro_heading {
  }
}
.bar_graph {
  h3 {
    margin-left: 200px;
  }
}
.context_part1 {
  padding: 50px;
  width: 500px;
}

.interaction {
  background: black;
  color: white;
  padding: 50px;

  .InteractiveMap_title {
    padding: 10px;
    margin-left: 20px;
  }
  .interaction_howto {
    margin-left: 30px;
  }

  .context_part2 {
    width: 500px;
  }
}
 
.Graph {
  &_Heightmap {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &_Titleblock {
      width: 100%;
    }
  }
}

.Graph {
  &_Heightmap {
    &_TitleBlock {
      @include noselect();
      @include nopointer();
      z-index: 9999;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      text-align: center;
    }

    &_Intro {
      @include noselect();
      @include nopointer();
      z-index: 9999;
      top: 20%;
      left: 50%;
      width: 60%;
      transform: translate(-50%, -50%);
    }

    &_Meta {
      @include noselect();
      @include nopointer();
      left: 50%;
      top: 80%;
      text-align: center;
      transform: translate(-50%, -50%);
      h1 {
          margin-bottom: 0;
      }
      h2 {
          margin-top: 0;
      }
    }
  }
}