
body{
    font-family: "Avenir";
    color: black;    
}
.Intro {
   
    padding: 50px;
    .Intro_heading {  

        }
}
.bar_graph{
h3{margin-left: 200px;

}
}
.context_part1{
    padding: 50px;
    width: 500px;
}

.interaction{
    background: black;
    color: white;
    padding: 50px;

    .InteractiveMap_title{
padding: 10px;
margin-left: 20px;
}
.interaction_howto{
margin-left: 30px;
}

.context_part2{
width: 500px;
}

}