
$font-size-meta: 1rem;
$font-size-main: 2rem;
$font-size-secondary: 1.5rem;

$color-emphasis : #FFF;
$color-base : #DDD;
$color-deemphasis : #CCC;

.Tooltip {
  position: absolute;
  z-index: 2000;
  left: calc(50% - 550px);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  border-radius: 5px;
  padding: 20px 30px;
  color: $color-emphasis;
  font-family: 'Avenir';

  transition: opacity 0.4s ease-in-out;

  &_BarCharts {
    display: flex;
    flex-direction: row;

    margin-bottom: 3rem;
  }

  &_Row__Center {
    height: 40px;
    text-align: center;
  }

  &_WeatherColumn {
    width: 50%;
  }

  &_PollutionColumn {
    width: 50%;
  }

  &_Hidden {
    opacity: 0;
  }

  &_Time {
    font-weight: 600;
    font-size: $font-size-meta;
    color: $color-base;
    &_Header {
      font-size: $font-size-meta;
      color: $color-deemphasis;
    }
  }

  &_Station {
    font-weight: 600;
    font-size: $font-size-meta;
    color: $color-base;
    &_Header {
      font-size: $font-size-meta;
      color: $color-deemphasis;
    }
  }

  &_Weather {
    display: inline-block;
    margin: 0 0 0.7rem;
    height: 20px;
    margin-left: -2px;
    font-size: $font-size-main;
    color: $color-emphasis;
    &::before {
      display: inline-block;
      width: 13px;
      content: " ";
      color: $color-emphasis;
    }
    &_Negative::before {
      content: "-";
    }

    &_Header {
      font-weight: 300;
      font-size: $font-size-meta;
      color: $color-deemphasis;
    }
  }

  &_Pollution {
    color: $color-emphasis;
    margin: 0 0 0.7rem;
    font-weight: 500;
    font-size: $font-size-main;

    &_Header {
      font-size: $font-size-meta;
      color: $color-deemphasis;
    }
  }
}